* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.tabs {
    display: flex;
    margin-bottom: 1rem;
}

.tab-btn {
    flex: 1;
    background-color: transparent;
    border-bottom: 2px solid #e0e0e0;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    color: #666;
    border-radius: 0px;
}

.tab-btn:hover {background-color: transparent;}

.tab-btn.active {
    color: #36cadd;
    border-bottom: 2px solid #36cadd;
    background-color: transparent;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

input:focus {outline: 1px solid #36cadd;}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.time-inputs {
    display: flex;
    gap: 0.5rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

button {
    width: 32%;
    background-color: #36cadd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    transition: background-color 0.3s;
    padding: 0.5rem;
}

button:hover {
    background-color: #10a4b7;
}

#countdown-display, #alarm-display {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    color: #848484;
}

#time-log {
    margin-top: 2rem;
    display: none;
}

#time-log h3 {
    margin-bottom: 0.5rem;
}

#time-log table {
    width: 100%;
    border-collapse: collapse;
}

#time-log th, #time-log td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

#time-log th {
    background-color: #f0f0f0;
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 1rem;
    }

    #countdown-display, #alarm-display {
        font-size: 1.5rem;
    }
}